.window {
  position: fixed;
  top: 50px;
  left: 50px;

  .title-bar {

    .title-bar-text {
      flex: 1;
      cursor: move;
      user-select: none;
    }

    .title-bar-controls {

      button[aria-label=Close] {
        cursor: pointer;
      }
    }
  }
}

.draggable-modal {
  animation: .15s ease-in show-up;
}

@keyframes show-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}